.light {
  --md-sys-color-primary: rgb(143 76 55);
  --md-sys-color-surface-tint: rgb(143 76 55);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(255 219 208);
  --md-sys-color-on-primary-container: rgb(58 11 0);
  --md-sys-color-secondary: rgb(144 74 69);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(255 218 214);
  --md-sys-color-on-secondary-container: rgb(59 9 8);
  --md-sys-color-tertiary: rgb(46 106 67);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(178 241 193);
  --md-sys-color-on-tertiary-container: rgb(0 33 14);
  --md-sys-color-error: rgb(107 83 140);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(237 220 255);
  --md-sys-color-on-error-container: rgb(37 14 68);
  --md-sys-color-background: rgb(255 248 246);
  --md-sys-color-on-background: rgb(35 25 23);
  --md-sys-color-surface: rgb(255 248 246);
  --md-sys-color-on-surface: rgb(35 25 23);
  --md-sys-color-surface-variant: rgb(245 221 219);
  --md-sys-color-on-surface-variant: rgb(83 67 66);
  --md-sys-color-outline: rgb(133 115 113);
  --md-sys-color-outline-variant: rgb(216 194 191);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(57 46 43);
  --md-sys-color-inverse-on-surface: rgb(255 237 232);
  --md-sys-color-inverse-primary: rgb(255 181 158);
  --md-sys-color-primary-fixed: rgb(255 219 208);
  --md-sys-color-on-primary-fixed: rgb(58 11 0);
  --md-sys-color-primary-fixed-dim: rgb(255 181 158);
  --md-sys-color-on-primary-fixed-variant: rgb(114 53 34);
  --md-sys-color-secondary-fixed: rgb(255 218 214);
  --md-sys-color-on-secondary-fixed: rgb(59 9 8);
  --md-sys-color-secondary-fixed-dim: rgb(255 179 173);
  --md-sys-color-on-secondary-fixed-variant: rgb(115 51 47);
  --md-sys-color-tertiary-fixed: rgb(178 241 193);
  --md-sys-color-on-tertiary-fixed: rgb(0 33 14);
  --md-sys-color-tertiary-fixed-dim: rgb(150 213 166);
  --md-sys-color-on-tertiary-fixed-variant: rgb(19 81 46);
  --md-sys-color-surface-dim: rgb(232 214 209);
  --md-sys-color-surface-bright: rgb(255 248 246);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(255 241 237);
  --md-sys-color-surface-container: rgb(252 234 229);
  --md-sys-color-surface-container-high: rgb(247 228 223);
  --md-sys-color-surface-container-highest: rgb(241 223 218);
  --md-extended-color-custom-color1-color: rgb(67 94 145);
  --md-extended-color-custom-color1-on-color: rgb(255 255 255);
  --md-extended-color-custom-color1-color-container: rgb(215 226 255);
  --md-extended-color-custom-color1-on-color-container: rgb(0 26 64);
}
