/* Typography system - Small */
:root {
  --display-family: var(--typeface-font-family-1);
  --display-font-size: var(--size-display-small);
  --display-line-height: var(--line-height-display-small);
  --display-letter-spacing: 0px;
  --headline-family: var(--typeface-font-family-1);
  --display-weight: var(--typeface-weight-medium);
  --headline-font-size: var(--size-headline-small);
  --headline-line-height: var(--line-height-headline-small);
  --headline-letter-spacing: 0px;
  --headline-weight: var(--typeface-weight-regular);
  --label-family: var(--typeface-font-family-2);
  --label-font-size: var(--size-label-small);
  --label-line-height: var(--line-height-label-small);
  --label-letter-spacing: 0.5px;
  --label-weight: var(--typeface-weight-medium);
  --title-family: var(--typeface-font-family-2);
  --body-family: var(--typeface-font-family-2);
  --body-font-size: var(--size-body-small);
  --body-line-height: var(--line-height-body-small);
  --body-letter-spacing: 0.4000000059604645px;
  --title-font-size: var(--size-title-small);
  --body-weight: var(--typeface-weight-regular);
  --title-line-height: var(--line-height-title-small);
  --title-letter-spacing: 0.10000000149011612px;
  --title-weight: var(--typeface-weight-medium);
}